<%= form_for @project do |f| %>

  <!-- Error message handler -->
  <% if @project.errors.any? %>
    <h2><%= pluralize(@project.errors.count, "error") %> prevented this project from saving:</h2>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <!-- Form to create/edit a blog -->
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :description, "Project Description" %><br>
  <%= f.text_area :description %>
  <br>
  <%= f.label :link %><br>
  <%= f.text_field :link %>
  <br>
  <br>
  <%= f.submit %>

<% end %>
